*{
    font-family: Roboto, Oxygen, 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Hero section */
.hero-section{
    background-color: #1f2937;

}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 100px 60px 100px;
}
.hero-logo h4 {
    font-size: 24px;
    color: #f9faf8;
}
ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
a{
    text-decoration: none;
}
.hero-section h1{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}
.hero-section a,p {
    font-size: 18px;
    color: #e5e7eb;
}
.hero-main{
    display: flex;
    padding: 0 100px 100px 100px;
    justify-content: space-between;
}
.hero-main-left{
    flex-basis: 1;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 1px;
}
.hero-main-right{
    background-color: grey;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup-btn{
    background-color: #3882f6;
    color: #f9faf8;
    margin-top: 10px;
    padding: 10px 26px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;

}

/* Information section */
.information-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.information-section .text{
    font-size: 36px;
    color: #1f2937;
    text-align: center;
    font-weight: 900;
    padding: 40px 0 40px 0;
    width: 100%;
}
.information-boxes{
    display: flex;
    height: 300px;
    justify-content: center;
    gap: 50px;
}
.box-container{
    /* border: 3px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;

}
.box{
    height: 150px;
    border: 3px solid #3882f6;
    border-radius: 5px;
    width: 150px;
}
.box-text p {
    color: #1f2937;
    text-align: center;
}

/* Quotes section */
.quotes-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    padding: 115px 175px;
}
.quotes-container{
    display: flex;
    flex-direction: column;
    width: 900px;
}
.main-quote p{
    font-size: 36px;
    font-weight: 300;
    color: #1f2937;
    /* align-self: center; */
}
.author-quote p{
    font-size: 24px;
    font-weight: 900;
    color: #1f2937;
    text-align: right;
    padding-right: 75px;
}

/* CTA section */
.cta-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
}
.cta-container{
    background-color: #3882f6;
    padding: 40px 60px;
    display: flex;
    align-items: center;
    gap: 100px;
    border-radius: 7.5px;
}
.cta-main-text p{
    font-size: 20px;
    font-weight: bold;
}
.cta-sub-text p{
    font-size: 12px;
    color: #e5e7eb;
}
.cta-btn{
    background-color: #3882f6;
    font-size: 16px;
    color: #f9faf8;
    border: 1px solid #f9faf8;
    padding: 5px 20px;
    border-radius: 5px;
}
/* Footer section */
footer{
    color: #f9faf8;
    background-color: #1f2937;
    text-align: center;
    flex-grow: 1;
    padding: 24px 0 24px 0;

}